body{
    background-color:bisque;
}

nav a{
    text-decoration:none;
    margin:20px;
}

nav{
    background-color:azure;
    padding:1rem;
}

.anjay{
    color:darkgoldenrod
}

.anjay:hover{
    background-color:darkgoldenrod;
    color:azure;
    border:1px solid darkgoldenrod;
    border-radius:15px;
    padding:10px;
}

.active{
    background-color:darkgoldenrod;
    color:azure;
    border:1px solid darkgoldenrod;
    border-radius:15px;
    padding:10px;
}